.logo {
  margin: 10px;
  padding: 10px;
  height: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  width: 200px;
  height: auto;
  background-color: bisque;
  padding: 10px;
  margin: 7px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
}

.res-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filter-btn {
  cursor: pointer;
  margin: 10px;
}


.shimmer-container{
  display: flex;
  flex-direction: row;
  height: 700px;
  
}

.shimmer-card{
  height: 300px;
  background-color: #f0f0f0;
  width: 200px;
}

.login{
  color: red;
  padding: 0 20px;
  cursor: pointer;
}

.filter{
  display: flex;
}

.search-box{
  margin: 10px;
}